# Core Dependencies
fastapi==0.112.0
uvicorn[standard]==0.30.1
python-dotenv==1.0.1
huggingface_hub==0.25.0
gunicorn==22.0.0

# Data Processing
pandas==2.2.1
scikit-learn==1.4.2
numpy>=1.26.4

# Testing
pytest==8.1.1
pytest-cov==4.1.0
pytest-mock==3.14.0
